* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(249, 250, 255);
    
}

#nome {
    font-size: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: #2c1001;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}


p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}


h2 {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #2c1001;
}

#lista-comunicao{  
    display: flex;
    flex-direction: column;
    align-items: center;
}

#links{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-caminho{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}